a.btn-primary:focus, a.btn-primary:hover, button.btn-primary:focus, button.btn-primary:hover {
  background-color: #4b3621 !important;
}

a.btn-primary:focus, a.btn-primary:hover, button.btn-secundary:focus, button.btn-primary:hover {
  background-color: #efb810 !important;
}

.btn-secundary {
  background-color: #FFFFFF !important;
  border-color: #4b3621 !important;
  color: #e3a364 !important;
}

.chartContainer {
  height: 16rem;
  width: 16rem;
}

.imgIniciar {
  width: 2.1875rem;
}

.imagenTodosProductos {
  width: 25rem;
  height: 16.625rem;
}

imgInf {
  width: 1.5rem;
}

.imgLogo {
  width: 4.6875rem;
  margin-right: 1.25rem;
}

.bg-primary {
  background-color: #4b3621 !important;
}

.table-primary {
  background-color: #e3a364 !important;
}

nav {
  font-family: "Be Vietnam", sans-serif;
}

nav a:hover {
  color: #e3a364 !important;
}

.imgEmpleo {
  width: 15%;
  height: 3.5rem;
}

.fondoRegistro {
  height: 9.375rem;
}

.text-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.5rem !important;
  color: #e3a364 !important;
}

.text-footer {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.5rem;
  color: #d6d6d6 !important;
}

.text-footer-cuerpo {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  color: #9b9b9b !important;
}

.text-secondary {
  font-family: "Lato", sans-serif !important;
  font-size: 1.25rem !important;
  color: black !important;
}

.text-empleo {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  color: #FFFFFF !important;
  font-weight: bold;
}

.imgNovedades {
  width: 2rem;
  height: 1rem;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.imgRedes {
  height: 9.375rem;
  width: 100%;
}

.imgUsu {
  width: 2.5rem;
}

.imgProductos {
  width: 37.5rem;
  height: auto;
}

.imgTusDatos {
  width: 6.25rem;
  height: 6.25rem;
}

.hover-1 img {
  position: relative;
  left: -5%;
  transition: all 0.3s;
}

.hover-1:hover img {
  left: 0;
}

footer a {
  text-decoration: none;
  color: #9b9b9b !important;
}

footer a:hover {
  text-decoration: none;
  color: #e3a364 !important;
}

.nav-link {
  color: #EAE8E8 !important;
  font-size: 0.938rem;
}

.nav-item {
  font-size: 0.938rem;
  color: #d6d6d6 !important;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -0.375rem;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 31.25rem;
  margin-top: 3.125rem;
  height: 0;
}

.btn-primary {
  background-color: #4b3621 !important;
  border-color: #4b3621 !important;
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #FFFFFF;
}

.navbar-letra {
  font-size: 1rem;
}

.redesSociales {
  font-size: 3rem;
  font-weight: bold;
  color: #e3a364 !important;
}

.card-inner {
  margin-left: 4rem;
}

.botonesRS {
  color: #4b3621 !important;
}

.imgJuegos {
  height: 12.5rem;
  width: 12.5rem;
}

.efectoHover {
  overflow: hidden;
}

.imgJuegos:hover {
  transform: scale(1.5);
}

.imgHome {
  width: 15rem;
  height: 15rem;
}

.enlacesSinEstilo:hover {
  text-decoration: none;
}

table a {
  color: #e3a364 !important;
}

table a:hover {
  text-decoration: none;
}

.area {
  text-align: center;
  font-size: 6.5em;
  color: #e3a364 !important;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #e3a364, 0px 0px 7px #e3a364;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8;
  }
}
.boton_personalizado {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF !important;
  background-color: #e3a364 !important;
  border-radius: 6px;
  border: 2px solid #4b3621 !important;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #4b3621 !important;
  border-radius: 5px;
  border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4b3621 !important;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #4b3621 !important;
  border-radius: 5px;
  border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #4b3621 !important;
}

input[type=range]:focus::-ms-fill-upper {
  background: #4b3621 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.938rem;
  margin-right: 0.313px;
}

.login_btn {
  color: black;
  background-color: #e3a364;
  width: 6.25rem;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.linksLogin {
  color: white;
}

.linksLogin a {
  margin-left: 0.25rem;
  color: #e3a364 !important;
}

.linksLogin a:hover {
  color: white !important;
}

.containerLogin {
  height: 100%;
  align-content: center;
  font-family: Lato;
}

.containerRegistrar {
  height: 100%;
  align-content: center;
  font-family: Lato;
}

.modal {
  margin: auto;
}

.modal-content {
  margin: auto;
  background-color: #4b3621 !important;
}

.card1 {
  background-color: #4b3621 !important;
}

.social_icon span {
  font-size: 5rem;
  margin-left: 0.625rem;
  color: #e3a364;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.modal-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 3rem;
  top: -2.813rem;
}

.social_icon1 {
  position: absolute;
  right: 1.25rem;
  top: -2.813rem;
}

.social_icon1 span {
  font-size: 5rem;
  margin-left: 0.625rem;
  color: #e3a364;
}

.social_icon1 span:hover {
  color: white;
  cursor: pointer;
}

.input-group-prepend span {
  width: 3.125rem;
  background-color: #e3a364;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.btnSinEstilo {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "Be Vietnam", sans-serif;
  cursor: pointer;
}

.btnSinEstilo:hover {
  color: #e3a364 !important;
}

.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

.stars {
  margin: 20px 0;
  font-size: 24px;
  color: #d17581;
}

.imgControl {
  width: 4.68rem;
  height: 4.68rem;
}

.links-primary {
  margin-left: 0.25rem;
  color: #e3a364 !important;
}

.links-primary:hover {
  color: #4b3621 !important;
}

input[type=radio] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type=radio]:checked ~ label {
  color: orange;
}

.valid-feedback {
  color: gray;
}

.imgIndexProductos {
  width: 400px;
  height: 266px;
}

.cookie-alertNovedades {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 320px;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  background-color: #e3a364 !important;
}

.cookie-alertNovedades.show {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

.enlaceSecundario {
  text-decoration: none;
  color: #4b3621 !important;
}

.enlaceSecundario:hover {
  text-decoration: none;
  color: white;
}

.cookiealert {
  z-index: 999999999999 !important;
}

.cookies_popup_body h3 {
  text-align: center;
}

.cookies_popup_body p {
  text-align: center;
}

.cookiealert .modal-body {
  padding: 45px 100px;
}

.colortextocookie {
  color: white;
}

.enlacePrimario {
  text-decoration: none;
  color: #e3a364 !important;
}

.enlacePrimario:hover {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=index.css.map */
