$bg-primary : #4b3621 !important;
$bg-secundary : #e3a364 !important; 
$bg-grey : #EAE8E8 !important;
$bg-white : #FFFFFF !important;
$color-footer-cuerpo : #9b9b9b !important;
$color-footer-title : #d6d6d6 !important;
$color-boton : #efb810 !important;

a.btn-primary:focus, a.btn-primary:hover, button.btn-primary:focus, button.btn-primary:hover{
    background-color: $bg-primary;
}

a.btn-primary:focus, a.btn-primary:hover, button.btn-secundary:focus, button.btn-primary:hover{
    background-color: $color-boton;
}

.btn-secundary{
    background-color: $bg-white;
    border-color: $bg-primary;
    color: $bg-secundary;
}

.chartContainer {
    height: 16rem;
    width: 16rem;
}

.imgIniciar{
    width: 2.1875rem;
}

imgInf{
    width: 1.5rem;
}

.imgLogo {
    width: 4.6875rem;
    margin-right: 1.25rem;

}

.bg-primary {
    background-color: $bg-primary;
}

.table-primary {
    background-color: $bg-secundary;
}

nav {
    font-family: 'Be Vietnam', sans-serif;
}

nav a:hover {
    color:$bg-secundary;
}

.imgEmpleo {
    width: 15%;
    height: 3.5rem;
}

.fondoRegistro {
    height: 9.375rem;
}


.text-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5rem !important;
    color: $bg-secundary ;
}
.text-footer {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5rem ;
    color: $color-footer-title ;
}
.text-footer-cuerpo {
    font-family: 'Lato', sans-serif ;
    font-size: 0.875rem;
    color: $color-footer-cuerpo ;
}



.text-secondary{
    font-family: 'Lato', sans-serif !important;
    font-size: 1.25rem !important;
    color: black !important;
}
.text-empleo{
    font-size: 3rem;
    font-family: 'Lato', sans-serif ;
    color: $bg-white;
    font-weight: bold;
}
.imgNovedades{
    width: 2rem;
    height: 1rem;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-inner {
    //height: 31.25rem;
}

.imgRedes {
    height: 9.375rem;
    width: 100%;
}
.imgUsu{
    width: 2.5rem;
}
.imgProductos {
    width: 37.5rem;
    height: auto;
}
.imgTusDatos {
    width: 6.25rem;
    height: 6.25rem;
}

.hover-1 img {
    position: relative;
    left: -5%;
    transition: all 0.3s;
}

.hover-1:hover img {
    left: 0;
}

footer a {
    text-decoration: none;
    color: $color-footer-cuerpo;
}

footer a:hover{
    text-decoration: none;
    color: $bg-secundary;
}

.nav-link{

    color: $bg-grey;
    font-size: 0.938rem;

}

.nav-item{
    font-size: 0.938rem;
    color: $color-footer-title;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-0.375rem;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.map-responsive{
    overflow:hidden;
    padding-bottom: 31.25rem;
    margin-top: 3.125rem;
    height:0;
}
.btn-primary {
    background-color: $bg-primary;
    border-color: $bg-primary;
}
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #FFFFFF;
}
.navbar-letra{
    font-size: 1rem;
}

.redesSociales{
    font-size: 3rem;
    font-weight: bold;
    color: $bg-secundary;
}

.botonesRS{

    color: $bg-primary;
}
.imgJuegos {
    height: 12.5rem;
    width: 12.5rem;
}
.efectoHover {
    overflow: hidden;
}
.imgJuegos:hover {
    transform: scale(1.5);
}